
@*@model Agile.Worx.ViewModels.Models.ConfigurationViewModel*@

@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_LayoutConfiguration.cshtml";
}

<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/angular-resource.js"></script>
<script src="~/Scripts/angular-route.js"></script>
<script src="~/App/ConfigurationController.js"></script>

<link href="~/Content/Configuration/css/style.css" rel="stylesheet" />
<link href="http://fonts.googleapis.com/css?family=News+Cycle:400,700" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
@*<script src="~/Content/Configuration/js/timezones.full.js"></script>*@

<br />
<div class="body-content">

    <div class="container-dash" ng-app="app" ng-controller="ConfigurationController">
        <br />
        <h2 class="text-center"><i class="glyphicon glyphicon-dashboard"></i> Dashboard </h2>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <aside class="accordion col-md-12">

                <h1 class=""> <i class="glyphicon glyphicon-cog"></i> Operation Mode : <span> Manpower  Bitopi Group </span> </h1>
                <div class="">
                    <h2 class="">
                        <input id="operationmode_hybridAgile" name="operationmode" type="radio" ng-model="operationmode" ng-value="hybridAgile" /> <span> Manpower </span> &nbsp; &nbsp;
                        <input id="operationmode_pureAgile" name="operationmode" type="radio" ng-model="operationmode" ng-value="pureAgile" /> Value
                    </h2>
                </div>

                <h1 class=""> <i class="glyphicon glyphicon-th-list"> </i> Misami Grarments Limited (MGL) <span class="col-lg-offset-1"> Actual : 495 </span> <span class="col-lg-offset-1"> Budget : 500 </span> <span class="col-lg-offset-1"> Short : 200 </span> <span class="col-lg-offset-1"> Exceed : 20 </span> </h1>
                @Html.Partial("_PartialConfiguration/_QualityMetrics")

                <h1 class=""> <i class="glyphicon glyphicon-th-list"> </i> Tarasima Apparels Limited (TAL)<span class="col-lg-offset-1"> Actual : 495 </span> <span class="col-lg-offset-1"> Budget : 500 </span> <span class="col-lg-offset-1"> Short : 200 </span> <span class="col-lg-offset-1"> Exceed : 20 </span></h1>
                @Html.Partial("_PartialConfiguration/_ConstraintsMetrics")

                <h1 class=""> <i class="glyphicon glyphicon-th-list"> </i> Baridhi Grarments Limited (BGL)<span class="col-lg-offset-1"> Actual : 495 </span> <span class="col-lg-offset-1"> Budget : 500 </span> <span class="col-lg-offset-1"> Short : 200 </span> <span class="col-lg-offset-1"> Exceed : 20 </span></h1>
                @Html.Partial("_PartialConfiguration/_ValueMetrics")

                <h1 class=""> <i class="glyphicon glyphicon-th-list"> </i> Remi Holdings Limited (RHL)&nbsp; &nbsp; &nbsp;<span class="col-lg-offset-1"> Actual : 495 </span> <span class="col-lg-offset-1"> Budget : 500 </span> <span class="col-lg-offset-1"> Short : 200 </span> <span class="col-lg-offset-1"> Exceed : 20 </span></h1>
                @Html.Partial("_PartialConfiguration/_ValueMetrics")
                
                <h1 class=""> <i class="glyphicon glyphicon-th-list"> </i> Limited (KTL)<span class="col-lg-offset-1"> Actual : 495 </span> <span class="col-lg-offset-1"> Budget : 500 </span> <span class="col-lg-offset-1"> Short : 200 </span> <span class="col-lg-offset-1"> Exceed : 20 </span></h1>
                @Html.Partial("_PartialConfiguration/_ValueMetrics")

                <h1 class=""> <i class="glyphicon glyphicon-th-list"> </i> Bitopi Group <span class="col-lg-offset-1"> Actual : 495 </span> <span class="col-lg-offset-1"> Budget : 500 </span> <span class="col-lg-offset-1"> Short : 200 </span> <span class="col-lg-offset-1"> Exceed : 20 </span></h1>
                @Html.Partial("_PartialConfiguration/_ValueMetrics")


            </aside>
            @*<aside class="accordion col-md-6">

                <h1 class=""> <i class="glyphicon glyphicon-cog"></i> Operation Mode : <span> Manpower </span> </h1>
                <div class="">
                    <h2 class="">
                        <input id="operationmode_hybridAgile" name="operationmode" type="radio" ng-model="operationmode" ng-value="hybridAgile" /> <span> Manpower </span> &nbsp; &nbsp;
                        <input id="operationmode_pureAgile" name="operationmode" type="radio" ng-model="operationmode" ng-value="pureAgile" /> Value

                    </h2>

                </div>

                <h1 class=""> <i class="glyphicon glyphicon-th-list"> </i> Misami Grarments Limited <span class="col-lg-offset-1"> Actual: 495 </span> <span class="col-lg-offset-1"> Budget: 500 </span> <span class="col-lg-offset-1"> Short :200 </span> </h1>
                @Html.Partial("_PartialConfiguration/_QualityMetrics")

                <h1 class=""> <i class="glyphicon glyphicon-th-list"> </i> Tarasima Apparels Limited <span class="col-lg-offset-1"> Actual: 495 </span> <span class="col-lg-offset-1"> Budget: 500 </span> <span class="col-lg-offset-1"> Short :200 </span></h1>
                @Html.Partial("_PartialConfiguration/_ConstraintsMetrics")

                <h1 class=""> <i class="glyphicon glyphicon-th-list"> </i> Baridhi Grarments Limited <span class="col-lg-offset-1"> Actual: 495 </span> <span class="col-lg-offset-1"> Budget: 500 </span> <span class="col-lg-offset-1"> Short :200 </span></h1>
                @Html.Partial("_PartialConfiguration/_ValueMetrics")

                <h1 class=""> <i class="glyphicon glyphicon-th-list"> </i> Remi Holdings Limited &nbsp; &nbsp; &nbsp;<span class="col-lg-offset-1"> Actual: 495 </span> <span class="col-lg-offset-1"> Budget: 500 </span> <span class="col-lg-offset-1"> Short :200 </span></h1>
                @Html.Partial("_PartialConfiguration/_ValueMetrics")

            </aside>*@

            <div class="row col-md-12">
                <label class="col-md-offset-1 col-md-2" > &nbsp; <span id="msg" ng-model="btndisabled" class="btn-danger"></span> &nbsp;</label>
                <button class="col-md-offset-6 col-md-2 btn btn-info-agile pull-right" ng-disabled="btndisabled" ng-model="userstory_software" value="Update" ng-click="save()">
                    <i class="glyphicon glyphicon-refresh"></i> Refesh
                </button>
            </div>

            <br>
            <br>
            <br>
        }

        <br />
    </div>
</div>
<br />

@*<script type="text/javascript">$('select').timezones();</script>*@

@*<script src="~/Content/Configuration/js/jquery.min.js"></script>*@
<script src="~/Content/Configuration/js/index.js"></script>

<script type="text/javascript">
    function change(cb) {
        if (cb.checked) {
            $("#" + cb.id + "_Low").prop("checked", true);
        } else {
            $("input[name=" + cb.id + "]").attr("checked", false);
        }
    }
    function changeRB(rb) {
        if (rb.checked) {
            $("#" + rb.name + "").prop("checked", true);
        }
    }
    function _setG(li) {
        var color = $(li).css("background-color");
        var hexcoles = rgb2hex(color);
        $("#StateGreenhidden").val(hexcoles);
        $("#StateGreen").css("background-color", hexcoles);
    }
    function _setR(li) {
        var color = $(li).css("background-color");
        var hexcoles = rgb2hex(color);
        $("#StateRedhidden").val(hexcoles);
        $("#StateRed").css("background-color", hexcoles);
    }
    function _setY(li) {
        var color = $(li).css("background-color");
        var hexcoles = rgb2hex(color);
        $("#StateYellowhidden").val(hexcoles);
        $("#StateYellow").css("background-color", hexcoles);
    }
    function rgb2hex(rgb) {
        rgb = rgb.match(/^rgb\((\d+),\s*(\d+),\s*(\d+)\)$/);
        function hex(x) {
            return ("0" + parseInt(x).toString(16)).slice(-2);
        }
        return "#" + hex(rgb[1]) + hex(rgb[2]) + hex(rgb[3]);
    }

   
</script>

