
<div class="tarasima">
    <span class="ng-scope bold">Division 
    <i class="glyphicon glyphicon-forward"></i>
    </span>
    <span class="ng-scope"> 
        <h2 class="glyphicon glyphicon-plus ng-binding">
            <span class="bold ng-binding"> Central &nbsp;</span>
            <span class="rosybrown"><i class="glyphicon glyphicon-ok"></i> 100</span>
            <span class="goldenrod"><i class="glyphicon glyphicon-briefcase"></i> 100</span>
            <span class="yellowgreen"><i class="glyphicon glyphicon-minus"></i> 50</span>
            <span class="blueviolet"><i class="glyphicon glyphicon-plus"></i>05</span>
        </h2>
        @Html.Partial("_PartialCompanies/_TarasimaUnits_Final")
    </span>
    <span class="ng-scope">
        <h2 class="glyphicon glyphicon-plus ng-binding">
            <span class="bold ng-binding"> General </span>
            <span class="rosybrown"><i class="glyphicon glyphicon-ok"></i> 100</span>
            <span class="goldenrod"><i class="glyphicon glyphicon-briefcase"></i> 100</span>
            <span class="yellowgreen"><i class="glyphicon glyphicon-minus"></i> 50</span>
            <span class="blueviolet"><i class="glyphicon glyphicon-plus"></i>05</span>
        </h2>
        @Html.Partial("_PartialCompanies/_TarasimaUnits_Final")
    </span>
    <span class="ng-scope">
        <h2 class="glyphicon glyphicon-plus ng-binding">
            <span class="bold ng-binding"> Grarment </span>
            <span class="rosybrown"><i class="glyphicon glyphicon-ok"></i> 100</span>
            <span class="goldenrod"><i class="glyphicon glyphicon-briefcase"></i> 100</span>
            <span class="yellowgreen"><i class="glyphicon glyphicon-minus"></i> 50</span>
            <span class="blueviolet"><i class="glyphicon glyphicon-plus"></i>05</span>
        </h2>
        @Html.Partial("_PartialCompanies/_TarasimaUnits_Final")
    </span>
    <span class="ng-scope">
        <h2 class="glyphicon glyphicon-plus ng-binding">
            <span class="bold ng-binding"> Corporate </span>
            <span class="rosybrown"><i class="glyphicon glyphicon-ok"></i> 100</span>
            <span class="goldenrod"><i class="glyphicon glyphicon-briefcase"></i> 100</span>
            <span class="yellowgreen"><i class="glyphicon glyphicon-minus"></i> 50</span>
            <span class="blueviolet"><i class="glyphicon glyphicon-plus"></i>05</span>
        </h2>
        @Html.Partial("_PartialCompanies/_TarasimaUnits_Final")
    </span>
    <span class="ng-scope">
        <h2 class="glyphicon glyphicon-plus ng-binding">
            <span class="bold ng-binding"> Washing </span>
            <span class="rosybrown"><i class="glyphicon glyphicon-ok"></i> 95</span>
            <span class="goldenrod"><i class="glyphicon glyphicon-briefcase"></i> 100</span>
            <span class="yellowgreen"><i class="glyphicon glyphicon-minus"></i> 00</span>
            <span class="blueviolet"><i class="glyphicon glyphicon-plus"></i> 00</span>
        </h2>
        @Html.Partial("_PartialCompanies/_TarasimaUnits_Final2")
    </span>
</div>
