
<div class="">

    <span  class="ng-scope">
         <h3 class="glyphicon glyphicon-plus ng-binding">
             <span class="bold"> General </span>
             <span class="rosybrown small glyphicon glyphicon glyphicon-ok">10</span>
             <span class="goldenrod small glyphicon glyphicon-briefcase">10</span>
             <span class="yellowgreen small glyphicon glyphicon-minus">05</span>
             <span class="blueviolet small glyphicon glyphicon-plus">00</span>
        </h3>
        @Html.Partial("_PartialCompanies/_Catagories")
    </span>
    <span  class="ng-scope">
        <h3 class="glyphicon glyphicon-plus ng-binding"> 
            <span class="bold"> Washing </span>
            <span class="rosybrown small glyphicon glyphicon glyphicon-ok">10</span>
            <span class="goldenrod small glyphicon glyphicon-briefcase">10</span>
            <span class="yellowgreen small glyphicon glyphicon-minus">05</span>
            <span class="blueviolet small glyphicon glyphicon-plus">00</span>
        </h3>
        @Html.Partial("_PartialCompanies/_Catagories")
    </span>
    <span  class="ng-scope">
        <h3 class="glyphicon glyphicon-plus ng-binding"> 
            <span class="bold"> Unit One </span>
            <span class="rosybrown small glyphicon glyphicon glyphicon-ok">20</span>
            <span class="goldenrod small glyphicon glyphicon-briefcase">20</span>
            <span class="yellowgreen small glyphicon glyphicon-minus">10</span>
            <span class="blueviolet small glyphicon glyphicon-plus">01</span>
        </h3>
        @Html.Partial("_PartialCompanies/_Catagories")
    </span>
    <span  class="ng-scope">
        <h3 class="glyphicon glyphicon-plus ng-binding"> 
            <span class="bold"> Unit Two </span>
            <span class="rosybrown small glyphicon glyphicon glyphicon-ok">20</span>
            <span class="goldenrod small glyphicon glyphicon-briefcase">20</span>
            <span class="yellowgreen small glyphicon glyphicon-minus">10</span>
            <span class="blueviolet small glyphicon glyphicon-plus">02</span>
        </h3>
        @Html.Partial("_PartialCompanies/_Catagories")
    </span>
    <span  class="ng-scope">
        <h3 class="glyphicon glyphicon-plus ng-binding"> 
            <span class="bold"> Unit Three </span>
            <span class="rosybrown small glyphicon glyphicon glyphicon-ok">20</span>
            <span class="goldenrod small glyphicon glyphicon-briefcase">20</span>
            <span class="yellowgreen small glyphicon glyphicon-minus">10</span>
            <span class="blueviolet small glyphicon glyphicon-plus">02</span>
        </h3>
        @Html.Partial("_PartialCompanies/_Catagories")
    </span>
    <span  class="ng-scope">
        <h3 class="glyphicon glyphicon-plus ng-binding"> 
            <span class="bold"> Unit Four </span>
            <span class="rosybrown small glyphicon glyphicon glyphicon-ok">20</span>
            <span class="goldenrod small glyphicon glyphicon-briefcase">20</span>
            <span class="yellowgreen small glyphicon glyphicon-minus">10</span>
            <span class="blueviolet small glyphicon glyphicon-plus">00</span>
        </h3>
        @Html.Partial("_PartialCompanies/_Catagories")
    </span>
</div>